
<template>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Agregar nuevo Items
            </div>
            <div class="card-body">
                <form v-on:submit.prevent="agregarRegistro">
                    <div class="form-group">
                      <label for="titulo">Titulo</label>
                      <input type="text"
                        class="form-control" name="titulo" v-model="item.titulo" id="titulo" aria-describedby="helpId" placeholder="Titulo">
                      <small id="helpId" class="form-text text-muted">Escriba eltitulo</small>
                    </div>
                    <div class="form-group">
                      <label for="contenido">Contenido</label>
                      <input type="text"
                        class="form-control" name="contenido" v-model="item.contenido" id="contenido" aria-describedby="helpId" placeholder="Contenido">
                      <small id="helpId" class="form-text text-muted">Escriba el contenido</small>
                    </div>
                    <div class="btn-group" role="group" aria-label="">
                        <button type="submit" class="btn btn-success">Agregar</button>
                        <router-link :to="{name:'Listar'}" class="btn btn-danger">Cancelar </router-link>
                        
                    </div>
                </form>
               
            </div>
            
        </div>
        
    </div>
</template>

<script>
export default {
    data(){
        return{
            item:{}
        }
    },
    methods:{
        agregarRegistro(){
            console.log(this.item);
                  var datosEnviar={titulo:this.item.titulo,contenido:this.item.contenido}

                   fetch('http://localhost/items/?insertar=1',{
                       method:"POST",
                       body:JSON.stringify(datosEnviar)
                   })
                    .then(respuesta=>respuesta.json())
                    .then((datosRespuesta)=>{
                        console.log(datosRespuesta);
                        window.location.href='listar'
                    })

             }
    }
}
</script>

