<template>
      <div class="container">
        <div class="card">
            <div class="card-header">
               Editar Items
            </div>
            <div class="card-body">

                <form v-on:submit.prevent="actualizarRegistro"> 
                   <div class="form-group">
                     <label for="titulo">Titulo</label>
                     <input type="text"
                       class="form-control" required name="titulo" v-model="item.titulo" id="titulo" aria-describedby="helpId" placeholder="Titulo">
                     <small id="helpId" class="form-text text-muted">Escribe el titulo</small>
                   </div>
                    <div class="form-group">
                      <label for="contenido">Contenido</label>
                      <input type="text"
                        class="form-control" required name="contenido" v-model="item.contenido" id="contenido" aria-describedby="helpId" placeholder="Contenido">
                      <small id="helpId" class="form-text text-muted">Escriba contenido</small>
                    </div>
                    <div class="btn-group" role="group" aria-label="">
                        <button type="submit" class="btn btn-success">Modificar </button>
                        
                        <router-link :to="{name:'Listar'}" class="btn btn-danger">Cancelar </router-link>
                        
                    </div>
                </form>
                 
            </div>
            
        </div>
       
    </div>



</template>

<script>
export default {
     data(){
        return{
            item:{}

        }
    },
    create:function(){

    },
    methods:{
        obtenerInformacionID(){

            
          fetch('http://localhost/items/?consultar='+this.$route.params.id)
           .then(respuesta=>respuesta.json())
            .then((datosRespuesta)=>{
              console.log(datosRespuesta)
              this.item=datosRespuesta[0];
              
            })
           .catch(console.log)
        },
        actualizarRegistro(){
            console.log(this.item);
                  var datosEnviar={id:this.$route.params.id,titulo:this.item.titulo,contenido:this.item.contenido}

                   fetch('http://localhost/items/?actualizar='+this.$route.params.id,{
                       method:"POST",
                       body:JSON.stringify(datosEnviar)
                   })
                    .then(respuesta=>respuesta.json())
                    .then((datosRespuesta)=>{
                        console.log(datosRespuesta);
                        window.location.href='listar'
                    })
        }
    }
}
</script>