<template>
    <div class="container">
       

<div class="card">
    <div class="card-header">
        Items
    </div>
    <div class="card-body">
      <table class="table">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Titulo</th>
                  <th>Contenido</th>
                  <th>Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr v-for="item in items" :key="item.id">
                  <td>{{item.id}}</td>
                  <td>{{item.titulo}}</td>
                  <td>{{item.contenido}}</td>
                  <td>
                      <div class="btn-group" role="group" aria-label="">
                         
                            <router-link :to="{name:'Editar',params:{id:item.id}}" class="btn btn-info" >Editar</router-link>

                          <button type="button" v-on:click="borrarItem(item.id)" class="btn btn-danger">Borrar</button>
                         
                      </div>
                


                  </td>
              </tr>
              
          </tbody>
      </table>
    </div>
   
</div>

        <div>
            <div></div>
            <div></div>
             <div></div>
           
        </div>
    </div>


</template>

<script>
export default {
    data(){
        return{
            items:[]
        }
    },

    created:function(){

      this.consultarItems();

    },
    methods:{
        consultarItems(){
           fetch('http://localhost/items/')
           .then(respuesta=>respuesta.json())
            .then((datosRespuesta)=>{
              console.log(datosRespuesta)
              this.items=[]
              if(typeof datosRespuesta[0].success==='undefined'){
                  this.items=datosRespuesta;
              }
            })
           .catch(console.log)
        },
        borrarItem(id){
            fetch('http://localhost/items/?borrar='+id)
           .then(respuesta=>respuesta.json())
            .then((datosRespuesta)=>{
              console.log(datosRespuesta)
             
              window.location.href="listar"
            })
           .catch(console.log)
            console.log(id);

        }
    }
}
</script>